<app-header></app-header>
<div class="module-title">Fund Transfer</div>
<div class="table-wrapper">
    <table mat-table [dataSource]="MyDataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="accountName">
            <th mat-header-cell *matHeaderCellDef> Account Name </th>
            <td mat-cell *matCellDef="let element"> {{element.accountName}} </td>
        </ng-container>
        <ng-container matColumnDef="accountNumber">
            <th mat-header-cell *matHeaderCellDef> Account Number </th>
            <td mat-cell *matCellDef="let element"> {{element.accountNumber}} </td>
        </ng-container>
        <ng-container matColumnDef="bank">
            <th mat-header-cell *matHeaderCellDef> Bank </th>
            <td mat-cell *matCellDef="let element"> {{element.bank}} </td>
        </ng-container>
        <ng-container matColumnDef="id" class="actions">
            <th mat-header-cell *matHeaderCellDef class="actions">

            </th>
            <td mat-cell *matCellDef="let element; let i = index" class="actions-buttons" id="{{ element.id | json }}">
                <button mat-raised-button color="accent" *ngIf="!sendMoneyFlag || currentRow != i" (click)="showSendMoney(i)">Send Money</button>
                <div class="send-amount" *ngIf="sendMoneyFlag  && currentRow == i">
                    <form [formGroup]="fundForm">
                        <mat-form-field class="example-full-width">
                            <mat-label>Amount</mat-label>
                            <input matInput placeholder="Amount" formControlName="sendAmount">

                        </mat-form-field>
                        <button (click)="sendMoney(element.id)" mat-icon-button color="accent" aria-label="Example icon button with a home icon">
                        <mat-icon>check</mat-icon>
                      </button>
                        <button mat-icon-button color="primary" (click)="hideSendMoney()" aria-label="Example icon button with a home icon">
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </form>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
<div class="add-benificary"> <button mat-raised-button routerLink="/beneficiary" color="primary">Add Beneficiary </button></div>