<div class="login-container">
    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="input-wrapper">
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="userName" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="loginForm.get('userName').hasError('email') && !loginForm.get('userName').hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="loginForm.get('userName').hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>

        </div>
        <div class="input-wrapper">
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" placeholder="Password">
            </mat-form-field>
        </div>
        <div class="form-buttons">
            <button mat-raised-button color="primary">Login</button>
        </div>
    </form>

</div>