<app-header></app-header>
<div class="module-title">Account Summary</div>
<div class="account-summary-wrapper">

    <mat-grid-list cols="2" rowHeight="40px">
        <mat-grid-tile>
            <div class="details">
                <span class="label">Name<span class="seperator">:</span></span>
                <span class="value">{{accountDetails.accHolderName}}</span>
            </div>
        </mat-grid-tile>
        <mat-grid-tile rowspan='5'>
            <div class="balance-details">
                <span class="account-title">
                Balance
            </span>
                <span class="balance">
                {{accountDetails.availableBalance | currency: 'INR':'symbol':'1.0-0'}}
            </span>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="details">
                <span class="label">Account Number<span class="seperator">:</span></span>
                <span class="value">{{accountDetails.accNumber}}</span>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="details">
                <span class="label">Branch<span class="seperator">:</span></span>
                <span class="value">{{accountDetails.branch}}</span>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="details">
                <span class="label">Active<span class="seperator">:</span></span>
                <span class="value">{{accountDetails.isActive}}</span>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="details">
                <span class="label">IFSC Code<span class="seperator">:</span></span>
                <span class="value">{{accountDetails.ifsc}}</span>
            </div>
        </mat-grid-tile>
    </mat-grid-list>

</div>