/* Add padding to details */

.details {
    display: block;
    width: 100%;
    padding: 0 30px;
}

/* Add a green text color to fiels */

.balance {
    font-size: 28px;
    color: #008000;
}

/* Set a grey background color and apply the styles */

.label {
    color: #8d8d8d;
    margin-right: 0px;
    font-size: 14px;
    width: 50%;
    display: block;
    float: left;
}
.seperator {
    float: right;
    margin-right: 60px;
}

.value {
    font-size: 14px;
    width: 50%;
    float: left;
    display: block;
}

.balance-details {
    width: 100%;
    display: block;
    text-align: center;
}

.account-title {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

/* Overwrite default styles of field */

.account-summary-wrapper {
    background: #ffffff;
    margin: 20px;
}