<app-header></app-header>
<div class="module-title">Account Summary</div>
<div class="account-summary-wrapper">

    <mat-grid-list cols="2" rowHeight="40px">
        <mat-grid-tile>
            <div class="details">
                <span class="label">Name<span class="seperator">:</span></span>
                <span class="value">T. Test</span>
            </div>
        </mat-grid-tile>
        <mat-grid-tile rowspan='5'>
            <div class="balance-details">
                <span class="account-title">
                Balance
            </span>
                <span class="balance">
                $1000
            </span>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="details">
                <span class="label">Account Number<span class="seperator">:</span></span>
                <span class="value">999999999999</span>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="details">
                <span class="label">Branch<span class="seperator">:</span></span>
                <span class="value">Hyderabad</span>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="details">
                <span class="label">Active<span class="seperator">:</span></span>
                <span class="value">Yes</span>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="details">
                <span class="label">IFSC Code<span class="seperator">:</span></span>
                <span class="value">999999999999</span>
            </div>
        </mat-grid-tile>
    </mat-grid-list>

</div>