/* You can add global styles to this file, and also import other style files */

html,
body {
    background: #f4f4f4;
    margin: 0;
    height: 500px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: url("/assets/image4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   
}

mat-card.mat-card.mat-focus-indicator {
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    cursor: pointer;
}

.mat-table {
    background: white;
    width: 100%;
}

.dashboard-wrapper {
    padding: 20px;
}

.module-title {
    margin: 20px;
    background: #4d5571;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-weight: 500;
}

.table-wrapper {
    padding: 0 20px;
}

.logo {
    float: left;
    line-height: 15px !important;
    cursor: pointer;
}